


<!-- main content -->
			<div class="gt-content">
				
				<!-- Sidebar Box -->
				<div class="gt-sidebar-box gt-sidebar-box-blue">
					<!-- search -->
					<div class="gt-search"><div class="gt-search-inner">
						<input type="text" class="gt-search-text" value="Search properties" onfocus="javascript:if(this.value=='Search article archive')this.value='';" onblur="javascript:if(this.value=='')this.value='Search article archive';" />
					</div></div><!-- /search -->
				</div><!-- /Sidebar Box -->
				
				
				<!-- Article List Table -->
				<!-- This table can be used for listing things like articles, pages or blog entries -->
				<h2 class="gt-table-head">Current Properties</h2>
				<!-- Content Box -->
				<div class="gt-content-box">
				
				<!-- Table Controls -->
				<div class="gt-table-controls clearfix">
					<form action="" class="gt-table-picker">
						<select>
							<option>Choose Section...</option>
							<option>Blog</option>
							<option>Contact</option>
							<option>About</option>
						</select>
					</form>
					<p class="gt-table-pager"><a class="current" href="">1</a> | <a href="">2</a> | <a href="">3</a> <a href="">&raquo;</a></p>
				</div><!-- /Table Controls -->
				<table border="0" class="gt-table gt-user-table">
					<tbody>
					<% @properties.each do |property| %>
						<tr>
							<td>
								<h4><a href=""><%= property.address1 %> <%= property.address2 %> <%= property.city %></a></h4>
								<p><%= property.postcode %> <%= property.country %></p>
								
								<p class="gt-table-action-list">
									<%= image_tag 'icons/building_edit.png', :alt => 'Edit' %> <%= link_to 'Edit', edit_property_path(property) %></p>
							</td>
							<td>
								<!-- Categories Sub Table -->
								<table border="0" class="gt-table-categories">
									<tr>
										<th>Posted:</th>
										<td><%= property.created_at.strftime("%d %B %Y") %></td>
									</tr>
									<tr>
										<th>Property Type:</th>
										<td><%= property.propertytype %></td>
									</tr>
									<tr>
										<th>Bedrooms/Bathrooms:</th>
										<td><%= property.numberofbedrooms %> / <%= property.numberofbathrooms %></td>
									</tr>
								</table>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
				</div><!-- /Content Box -->
				<!-- <div class="gt-table-buttons">
					<a href="" class="gt-btn-blue-large">Add New Article</a>
				</div> -->
				<!-- / Article Table List -->
				
			</div>
			<!-- / main content -->
			<%= render 'layouts/property_sidebar' %>
			
