<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<title>Gooey Templates : CMS Style App</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="Pragma" content="no-cache" />
		<%= stylesheet_link_tag 'reset-fonts', :media => "all" %>
		<%= stylesheet_link_tag 'gt-styles', :media => "all" %>

		<!-- Facebox inculdes -->
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
		<%= javascript_include_tag "facebox.js" %>
		<%= stylesheet_link_tag "facebox.css" %>

	</head>
	<body>
		<!-- head -->
		<div class="gt-hd clearfix">
			<!-- leaf watermark -->
			<div class="gt-leaf-watermark clearfix">
			
			<!-- head top -->
			<div class="gt-hd-top clearfix">
			
				<div class="gt-fixed-wrap clearfix">
			
				<!-- logo -->
				<div class="gt-logo">
					Propertygate <%= image_tag 'gt/leaf-logo-icon.png', :alt => 'leaf-logo-icon' %>
				</div>
				<!-- / logo -->
				
				<!-- utility box -->
				<div class="gt-util-box">
					<div class="gt-util-box-inner">
						<p>welcome <strong>sarah</strong> <span class="gt-util-separator">|</span> <a href="">logout</a></p>
					</div>
				</div>
				<!-- / utility box -->
				
				</div>
			
			</div><!-- /head top -->
			
			<!-- navbar -->
			<div class="gt-navbar clearfix">
				
				<div class="gt-fixed-wrap clearfix">
				
				<!-- navigation -->
				<div class="gt-nav">
					<ul>
						<li><%= link_to "Home", root_path %></a></li>
						<li><%= link_to "Properties & Tenants", properties_path %></li>
						<li><a href="#">Work Orders</a></li>
						<li><a href="#">Marketing</a></li>
						<li><a href="#">Accounting</a></li>
						<li><%= link_to "F.A.Q", questions_path %></li>
					</ul>
				</div><!-- / navigation -->
				
				<!-- search -->
				<div class="gt-search"><div class="gt-search-inner">
					<input type="text" class="gt-search-text" value="Search" onfocus="javascript:if(this.value=='Search')this.value='';" onblur="javascript:if(this.value=='')this.value='Search';" />
				</div></div>
				
				</div>
				
			</div><!-- /navbar -->			
		</div><!-- /leaf watermark -->
		</div>
		<!-- / head -->
